@import url(./normalize.css);

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
}

.sidebar {
    padding: 1rem;
    background-color: rgb(199, 23, 31);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    z-index: 2;
}

.brand {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    font-size: 18pt;
    font-weight: 800;
    color: white;
}

.brand-img {
    width: 4rem;
    height: 4rem;
    padding: 0.3rem;
    fill: white;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr 2fr 4fr;
}

.nav-main {
    display: grid;
    grid-row: 2 / 3;
    gap: 3px;
}

.nav-secondary {
    grid-row: 4 / 5;
    display: grid;
    gap: 3px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.2rem;
}

.nav-link > a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: large;
}

.nav-icon {
    width: 2rem;
    margin-right: 4px;
}   

.header {
    padding-top: 1em;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0 0px 5px 5px rgba(148, 148, 148, 0.342);
    z-index: 1;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}

.search {
    display: flex;
    align-items: center;
    padding: 0em 2rem;
    grid-column: 1 / 6;
}

.search-bar {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #dbe0e7;
    transition: box-shadow 0.1s ease-in-out, outline 0.1s ease-in-out;
    color: #2e2f30;
}

.search-bar:focus {
    outline: 1px solid #318bff;
    box-shadow: 0px 0px 5px 0px #318bff;
}

.search-icon {
    margin-right: 6px;
    width: 1.5rem;
    height: 1.5rem;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-column: 6 / 7;
}

.notification-icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.notification-icon:hover {
    background-color: #dbe0e7;
}

.notification-icon:active {
    background-color: #ced3da;
}

.active-user {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    grid-column: 7 / 9;
}

.active-user-icon {
    width: 3rem;
    height: 3rem;
}

.status-bar {
    padding: 0em 4rem;
    display: grid;
    grid-template-columns: 4fr 3fr;
}

.user-info {
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
}

.greeting {
    padding: 0 1.2rem;
    display: flex;
    flex-flow: column;
}

.profile-pic {
    width: 5rem;
    height: 5rem;
}

.greeting-text {
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 12pt;
}

.user-name {
    height: 100%;
    margin: 0;
    font-size: 20pt;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
    margin-right: 2em;
}

.btn-primary {
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 1.3rem;
    background-color: #ff3131;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #d32828;
}

.main {
    height: 100%;
    padding: 1rem 3rem;
    background-color: #dbe0e7;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.projects {
    padding: 0 2em 0 0;
}

.projects-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px   ;
}

.project {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 230px;
    padding: 1em 1em;
    background-color: white;
    border-radius: 0.5em;
    border-left: 10px solid rgb(255, 92, 92);
}

.actions {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.action {
    width: 35px;
    border-radius: 10px;
    padding: 0.2rem;
}

.action:hover {
    background-color: #c0c8d1;
}

.main-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.ann-display {
    padding: 0.4rem 2rem;
    background-color: white;
    border-radius: 20px;
}

.an-title {
    line-height: 1rem;
    margin-bottom: 0;
}

.an-title:hover {
    color: #4c4e50;
    cursor: pointer;
}

.an-body {
    font-size: 10pt;
    margin: 5px 0 20px 0;
    color: #4c4e50;
    font-weight: 500;
}

.an-sep {
    border-color: #dbdee2;
    outline-color: #4c4e50;
}



.trending-display {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 10px;
    height: 330px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.trending-user {
    display: flex;
    width: 100%;
}

.trending-img {
    width: 3rem;
    height: 3rem;
}

.info {
    margin-left: 20px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.info > p {
    margin: 0;
}

.info-desc {
    font-size: 10pt;
    color: #4c4e50;
}